@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*@apply dark:bg-[#262a2f] bg-white;*/
  @apply dark:text-white;
  transition: background-color 0.3s;



  @apply bg-[url('/background-12.jpg')] transition-none bg-[#136570] dark:bg-[#282B30] dark:bg-[url('/background-12d.jpg')];
  background-size: auto; 
  background-attachment: fixed; 
  background-repeat: no-repeat;



  

}

img {
  pointer-events: none;
}