@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*@apply dark:bg-[#262a2f] bg-white;*/
  @apply dark:text-white text-black;
  transition: background-color 0.3s;

  @apply bg-[url('/background-12.jpg')] transition-none bg-[#136570] dark:bg-[#282B30] dark:bg-[url('/background-12d.jpg')];
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
  pointer-events: none;
}

body {
  color-scheme: light; /* or auto */
}

html,
body {
  font-family: Arial, Helvetica, sans-serif !important;
}

button,
input,
select,
textarea {
  font: inherit !important;
  font-family: inherit !important;
}

:root {
  --key-bg: #e5e7eb;
  --key-dark-bg: #101010;
}

.frame {
  background-color: var(--key-bg);
  border-width: 2px;
  border-color: black;
  transition-duration: 300ms;
  transition-property:
    color, background-color, border-color, transform, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5rem;
}

.dark .frame {
  background-color: var(--key-dark-bg);
  border-color: white;
}

.svgFill {
  transition-duration: 300ms;
  transition-property:
    color, background-color, border-color, transform, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--key-bg);
}

.dark .svgFill {
  fill: var(--key-dark-bg);
}

.svgFillRev {
  transition-duration: 300ms;
  transition-property:
    color, background-color, border-color, transform, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--key-dark-bg);

}

.dark .svgFillRev {
  fill: var(--key-bg);
}

